.bia{
    background-image: url("bg.jpg");
    background-size: 100%;
}
.anh{
    background-image: url("about_bg.jpg");
    background-size: 110%;
}
.back{
    background-color: rgba(68,54,70,0.9)    ;
    left: 50px;
    border-style: solid;
    border-width:10px;
    border-color: #5a6268 ;
}
.blockquote {
    color: black;
    font-size: 15px;
}
.mon{
    background-image: url("banner-vi.png");
    background-size: 50px;
}
h1{
    background-color: #fffbfd;
}
.ananh{
    display: block;
    margin-left: 125px;
    margin-right: 100px;
    margin-top: 300px;
    height:70%;
    width: 70%;

}
ul{
    margin-left: 125px;
    margin-right: 100px;
    margin-bottom: 250px;
}
li{
    color: white;
    display: inline-block;
    padding: 0px;
    font-size: 16px;
}
.can{
    margin-left: 50px;
}
ul{
    display: inline-block;
    margin-right: 0px;
}
.ngang li{
    float: left;

}
h3{
    margin-left: 450px;
    margin-right: 350px;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;

}
.chen{
    color: #fff;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 5px;
}
.panel{
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.5s;
}
.panel:hover {
    transform: scale(1.2);
}
h5{
    text-align: center;
    background-color: rgba(29,29,29,0.73);
    font-size: 18px;
    color: white;
}
#clockk .clock-item{
    background-color: black;
    float: left;
    font-size: 20px;
    color: white;
}
#clock .clock-item{
    background-color: black;
    float: left;
    font-size: 20px;
    color: white;
}
#cloc .clock-item{
    background-color: black;
    float: left;
    font-size: 20px;
    color: white;
}
